/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  color: #333;
  line-height: 1.3;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 3.3rem;
  align-items: center;
}

.omnifood-logo img {
  width: 11.3rem;
  cursor: pointer;
}

.omni-link img {
  width: 11.3rem;
}

/* .omni-link:focus img {
  fill: 0 0 0 0.55rem #ecae78;
} */

.nav-bar {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 3.5rem;
  list-style-type: none;
  transition: all 0.3s ease;
}

.nav-item-menu {
  display: none;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  top: 27%;
  right: 3%;
  padding: 0.2rem 0.4rem;
}

.close-humburger {
  display: none !important;
}
/* .fa-close {
  display: none !important;
} */

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.16rem;
  transition: all 0.3s;
}

.nav-link:hover {
  color: #e67e22;
}

/* BUG Try for Free button, shows color orange on state hover */
.nav-link:focus {
  box-shadow: 0 0 0 0.55rem #ecae78;
}

/* Badelthom men id l class bach na9der na5dem bihom ou nmodify fach na7taj */
.btn {
  background-color: #e67e22;
  color: #ffffff;
  padding: 0.7rem 1.75rem;
  border-radius: 11px;
}

.btn:hover {
  background-color: #cf711f;
}

/* -------- Hero Section ----------- */

.section-hero {
  padding: 4.5rem 0;
  background-color: #fdf2e9;
}

.section-hero__container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 82rem;
  display: flex;
  justify-content: space-between;
  gap: 4.5rem;
}

/* Default h1 element style {Change it if you want !} */
h1 {
  font-size: 3.3rem;
  letter-spacing: -0.5px;
  line-height: 1.1;
  margin-bottom: 1.8rem;
}

/* Default P element style {Change it if you want !} */
p {
  font-size: 1.3rem;
  line-height: 1.7;
  color: #555;
}

.app-description {
  font-weight: 400;
  margin-bottom: 2.8rem;
}

a {
  text-decoration: none;
}

/* All anchor elements will get this style */
a:focus {
  box-shadow: 0 0 0 0.55rem #ecae78;
}

.btn__cta,
.btn__secondary {
  display: inline-block;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  font-weight: 600;
  transition: all 0.3s;
  padding: 0.8rem 1.9rem;
}

.btn__cta {
  margin-right: 1.05rem;
}

.btn__secondary {
  background-color: #fff;
  color: #555;
}

.btn__secondary:hover {
  box-shadow: inset 0 0 0 3px #fff;
  background-color: transparent;
}

.delivered__meals {
  display: flex;
  margin-top: 4.5rem;
  align-items: center;
  gap: 1rem;
}

.imgs__gallery {
  display: flex;
}

.imgs__gallery img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 3px solid #fdf2e9;
  margin-right: -1rem;
}

.imgs__gallery img:last-child {
  margin: 0;
}

.delivered__amount {
  font-weight: 600;
  font-size: 1.2rem;
}

.delivered__amount span {
  color: #cf711f;
  font-weight: 700;
}

.hero-img {
  max-width: 35rem;
}

/* BUG Try for Free button, shows color orange on state hover */
.nav-link:focus,
.nav-item-menu:hover {
  box-shadow: 0 0 0 0.55rem #ecae78;
}

/* Badelthom men id l class bach na9der na5dem bihom ou nmodify fach na7taj */
.btn {
  background-color: #e67e22;
  color: #ffffff;
  padding: 0.7rem 1.75rem;
  border-radius: 11px;
}

.btn:hover {
  background-color: #cf711f;
  color: #ffffff;
}

/* -------- Hero Section ----------- */

.section-hero {
  padding: 4.5rem 0;
  background-color: #fdf2e9;
}

.section-hero__container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 82rem;
  display: flex;
  justify-content: space-between;
  gap: 4.5rem;
}

/* Default h1 element style {Change it if you want !} */
h1 {
  font-size: 3.3rem;
  letter-spacing: -0.5px;
  line-height: 1.1;
  margin-bottom: 1.8rem;
}

/* Default P element style {Change it if you want !} */
p {
  font-size: 1.3rem;
  line-height: 1.7;
  color: #555;
}

.app-description {
  font-weight: 400;
  margin-bottom: 2.8rem;
}

a {
  text-decoration: none;
}

/* All anchor elements will get this style */
a:focus {
  box-shadow: 0 0 0 0.55rem #ecae78;
}

.btn__cta,
.btn__secondary {
  display: inline-block;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  font-weight: 600;
  transition: all 0.3s;
  padding: 0.8rem 1.9rem;
}

.btn__cta {
  margin-right: 1.05rem;
}

.btn__secondary {
  background-color: #fff;
  color: #555;
}

.btn__secondary:hover {
  box-shadow: inset 0 0 0 3px #fff;
  background-color: transparent;
  color: #555;
}

.delivered__meals {
  display: flex;
  margin-top: 4.5rem;
  align-items: center;
  gap: 1rem;
}

.imgs__gallery {
  display: flex;
}

.imgs__gallery img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 3px solid #fdf2e9;
  margin-right: -1rem;
}

.imgs__gallery img:last-child {
  margin: 0;
}

.delivered__amount {
  font-weight: 600;
  font-size: 1.2rem;
}

.delivered__amount span {
  color: #cf711f;
  font-weight: 700;
}

.hero-img {
  max-width: 35rem;
}

/* -------- Hero Section ----------- ENDS! */

/* ----------- Featured Section -----------  */
.container {
  max-width: 100rem;
  padding: 0 5rem;
  margin: 0 auto;
}
.section-featured {
  max-width: 120rem;
  padding: 4rem 0 3.2rem 0;
}
.img__logos {
  display: flex;
  justify-content: space-around;
}
.img__logos img {
  height: 2.1rem;
  filter: brightness(0);
  opacity: 50%;
}
.container h2 {
  color: #888;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

/* ----------- Featured Section Ended -----------  */

/* ----------- Featured Section Ended -----------  */

/* ----------- how it work section --------------  */
.howItWork-container {
  max-width: 81rem;
  margin: 3.3em auto;
}

.sub-title {
  color: #cf711f;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.main-title {
  font-size: 3em;
}

.howItWork-step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 5em; */
  margin: 10.3em auto;
  width: 100%;
}

.side-one {
  color: #dddddd;
  font-size: 6em;
  margin: 0.085em 0;
}

.side-title {
  font-size: 2em;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.side-phone {
  background-color: #fae5d3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.5em;
  height: 16.5em;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 40px #fdf2e9;
}

.side-phone img {
  width: 13em;
}

/* Meals Section (Starts) */
.section-meals {
  padding: 4.5rem 0;
}

.section-meals__container {
  padding: 0 2rem;
  max-width: 82rem;
  margin: 0 auto;
}

.text__meal {
  text-align: center;
  margin-bottom: 4.8rem;
}

.main__meal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4.2rem;
  margin-bottom: 3rem;
}

.meal-card {
  border-radius: 0.8rem;
  overflow: hidden;
  transition: all 0.4s;
  box-shadow: 0rem 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.meal-card:hover {
  transform: translateY(-3%);
}

.meal-picture {
  max-width: 100%;
  height: auto;
}

.meal-content {
  padding: 1.6rem 2.6rem 2.6rem 2.6rem;
}

.meal-tags {
  display: flex;
  margin-bottom: 0.25rem;
  gap: 0.3rem;
}

.tag {
  text-transform: uppercase;
  border-radius: 1.8rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.tag-vegetarian {
  background-color: #51cf66;
}

.tag-vegan {
  background-color: #94d82d;
}

.tag-paleo {
  background-color: #ffd43b;
}

.meal-content__title {
  color: #333;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.meal-details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.meal-details div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.meal-description {
  font-size: 1.1rem;
}

.data-highlited {
  font-weight: 500;
}

.diet-title {
  font-size: 1.9rem;
  margin-bottom: 2rem;
}

.diets-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  font-size: 1.2rem;
}

.diets-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.diets-list li ion-icon {
  font-size: 1.8rem;
}

ion-icon {
  color: #e67e22;
  font-size: 1.5rem;
}

.all-recipes__meal {
  text-align: center;
}

.all-recipes__meal a:link,
.all-recipes__meal a:visited {
  display: inline-block;
  color: #e67e22;
  border-bottom: 1px solid #e67e22;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.all-recipes__meal a:hover,
.all-recipes__meal a:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/* Meals Section (Ends) */

/* ************ Scetion Testimonials Started ************ */

.customers-img {
  border-radius: 50%;
  width: 3rem;
}

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-gap: 1rem;
  padding: 5.6rem 1.2rem;
  grid-template-columns: 55fr 45fr;
}
.Testimonial-header {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.customers {
  margin: 3.5rem;
  grid-row: 1;
}
.gallery-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1.3rem;
  background: #fff;
}
.gallery-imgs > div {
  overflow: hidden;
}
.gallery-imgs > div > img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all 0.4s;
  overflow: hidden;
}

.gallery-imgs > div > img:hover {
  transform: scale(1.1);
}

.customers-grid > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.Testimonial-header > h2 {
  margin-bottom: 6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  grid-row: 1;
}
.testimonials > figure > img {
  border-radius: 50%;
  width: 3.5rem;
  margin-bottom: 0.5rem;
}
.testimonials > figure {
  width: 15rem;
}
.testimonials > figure > blockquote {
  line-height: 2;
  font-size: 0.95rem;
}
.testimonials > figure > p {
  font-size: 0.8rem;
  color: #6f6f6f;
}
.heading-sec {
  font-size: 2rem;
  width: 30rem;
}

/* ************ Section Testimonials Ended ************ */
/* ************ section pricing started *************** */

.pricing {
  max-width: 81rem;
  margin: 5em auto;
}

.pricing__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: #555;
  margin: 5rem auto 2.8rem;
}

.pricing__cards__starter {
  width: 35%;
  border: 1px solid #fdf2e9;
  padding: 3.7rem 3rem;
  text-align: center;
  border-radius: 11px;
}

.pricing__cards__complete {
  background-color: #fdf2e9;
  overflow: hidden;
  position: relative;
}

.pricing__cards__complete::after {
  position: absolute;
  top: 7%;
  right: -13%;
  content: "BEST VALUE";
  padding: 0.16rem 2rem;
  width: 10rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: #ffd43b;
  transform: rotate(48deg);
  color: #333;
}
.pricing__title {
  color: #333;
  font-size: 4rem;
  margin: 2rem auto 1rem;
}

.pricing__text {
  text-align: center;
  font-size: 1.1rem;
}

.pricing__title span {
  font-size: 1.9rem;
  font-weight: 500;
  margin-inline-end: 0.6rem;
}

.list-franchises {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
  margin: 3rem auto;
  font-size: 1.3rem;
}

.list-franchises li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list-franchises li ion-icon {
  font-size: 2rem;
}

.pricing__cards__starter .btn {
  font-size: 1.53rem;
}

.pricing__cards__starter .btn:focus {
  box-shadow: 0 0 0 0.55rem #ecae78;
}
/* ************ section pricing end *************** */

/* ************ section feature start *************** */

.section-features {
  padding-bottom: 9rem;
}

.features-container {
  padding: 0 2rem;
  max-width: 82rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  column-gap: 2.8rem;
}

.feature-icon {
  padding: 1rem;
  border-radius: 50%;
  background-color: #fdf2e9;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.feature-title {
  line-height: 1;
  margin-bottom: 1.05rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

.feature-description {
  font-size: 1.2rem;
}

/* ************* Cta section started ************* */

.cta-section {
  padding: 2.4rem 0 6.4rem;
  margin: 0 6rem;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}
.cta-box {
  padding: 2.4rem 4rem;
  color: #45260a;
}

.cta-text {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
  color: #45260a;
}
h2.h2-sec {
  color: #45260a;
  color: inherit;
  font-size: 2.5rem;
  font-weight: 700;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.6rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.cta-form input,
select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.container {
  padding: 0 3.2rem;
  margin: 0 auto;
}

.btn-form {
  background-color: #45260a;
  font-size: 1.5rem;
  font-weight: 800;
  color: #fdf2e9;
  border: none;
  align-self: end;
  padding: 1.2rem;
  border-radius: 10px;
  transition: all 0.3s;
}

.btn-form:hover {
  background-color: white;
  color: #45260a;
}
.cta-img {
  background-image: linear-gradient(
      to right,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(253 242 233 / 50%);
}
/* ************* Cta section ended ************* */
