@media screen and (max-width: 81em) {
  html {
    font-size: 93%;
  }
  /* ************* Section Testimonials ************* */
  .gallery-imgs {
    grid-template-columns: repeat(2, 1fr);
  }
  /* ************* Section Testimonials Ended ************* */
}

@media screen and (max-width: 75em) {
  /* ************* Section Testimonials ************* */
  .testimonials {
    padding: 9.6rem 3.2rem;
  }
  /* ************* Section Testimonials Ended ************* */

  /* ************* Section Testimonials ************* */
  .howItWork-container,
  .pricing {
    max-width: 70rem;
    margin: 10rem auto;
  }

  .main-title {
    font-size: 2.5em;
  }
  /* ************* Section Testimonials Ended ************* */
}

@media screen and (max-width: 68em) {
  html {
    font-size: 81%;
  }
}

@media screen and (max-width: 59em) {
  html {
    font-size: 75%;
  }
  /* ************* Section Testimonials ************* */
  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery-imgs {
    grid-template-columns: repeat(6, 1fr);
  }

  /* ************* Section Testimonials Ended ************* */

  /* ******************** hero section responsive ******************** */
  .section-hero__container {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    max-width: 60%;
  }

  .delivered__meals {
    justify-content: center;
    margin-top: 3rem;
  }

  .img__logos {
    width: auto;
    height: 2.1rem;
  }

  .main__meal {
    grid-template-columns: 1fr 1fr;
    row-gap: 4.2rem;
  }

  .diets {
    grid-column: 1 / 3;
    justify-self: center;
  }
  /* cta Section Started */
  .cta-form {
    grid-template-columns: 1fr;
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  /* cta Section Ended */
}

/* ******************** header responsive section ******************** */

@media screen and (max-width: 67.75em) {
  .nav-bar {
    gap: 3rem;
  }

  .nav-link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 59.0625em) {
  .header {
    position: relative;
  }

  .nav-menu {
    transition: all 0.5s ease;
  }

  .nav-bar {
    display: none;
  }

  .nav-item-menu {
    display: block;
  }

  /* t */
  .d-none {
    display: none !important;
  }
  .d-block {
    display: block;
  }

  /* if you clicked the bar button this class will be activated */
  .responsive-nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.98);
  }
  .responsive-nav-bar li {
    height: 2.8rem;
  }
  .responsive-nav-bar li a {
    font-size: 2.1rem;
  }

  /* ************** how it work responsive section */
  .howItWork-container,
  .pricing {
    max-width: 62rem;
    margin: 10rem auto;
  }

  .main-title {
    font-size: 2.5em;
  }

  .howItWork-title {
    margin: 0 3rem;
  }
  /* ************** how it work responsive section ended*/

  /* **************** start pricing responsive section  **************** */
  .pricing__cards {
    gap: 3rem;
  }

  .pricing__cards__starter {
    width: 45%;
  }
  /* **************** pricing responsive section ended  **************** */
}

@media screen and (max-width: 49em) {
  html {
    font-size: 68%;
  }

  .howItWork-container,
  .pricing {
    max-width: 60rem;
    margin: 10rem auto;
  }

  .howItWork-step {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .sub-title {
    font-size: 1.7rem;
  }

  .side-one {
    font-size: 7rem;
  }

  .side-title {
    font-size: 1.8rem;
  }

  .side-text {
    font-size: 1.4rem;
  }

  .left-side,
  .right-side {
    width: 88%;
    margin: 5rem auto;
    justify-content: space-between;
  }

  .second-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .side-phone {
    width: 20em;
    height: 20em;
    box-shadow: 0px 0px 0px 35px #fdf2e9;
  }

  .side-phone img {
    width: 15.2em;
  }

  .features-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.8rem;
  }
}

@media screen and (max-width: 41.875em) {
  html {
    font-size: 68%;
  }
  /* ************** Section Testimonials ************** */
  .gallery-imgs {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
  /* ************** Section Testimonials Ended ************** */

  .howItWork-container,
  .pricing {
    width: 90%;
    margin: 10rem auto;
  }

  .howItWork-step {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .sub-title {
    font-size: 1.7rem;
  }

  .main-title {
    font-size: 2.5rem;
  }

  .side-one {
    font-size: 7rem;
  }

  .side-title {
    font-size: 2.4rem;
  }

  .side-text {
    font-size: 1.76rem;
  }

  .left-side,
  .right-side {
    width: 90%;
    margin: 5rem auto;
    justify-content: space-between;
  }

  .second-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .side-phone {
    width: 28em;
    height: 28em;
    box-shadow: 0px 0px 0px 35px #fdf2e9;
  }

  .side-phone img {
    width: 18em;
  }

  /* Meals Section */
  .main__meal {
    grid-template-columns: 1fr;
    row-gap: 4.2rem;
  }

  .diets {
    grid-column: 1 / 2;
    justify-self: center;
  }

  /* Ends Meals Section */

  .features-container {
    grid-template-columns: 1fr;
    row-gap: 2.8rem;
  }
}

@media screen and (max-width: 36.25em) {
  /* ********* start pricing responsive section  */
  .pricing__cards {
    flex-direction: column;
  }

  .pricing__cards__starter {
    width: 85%;
  }
  /* Section cta Started */
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-img {
    height: 32rem;
    grid-row: 1;
  }
  /* Section cta Ended */
}

@media screen and (max-width: 30em) {
  .left-side,
  .right-side {
    width: 100%;
    margin: 5rem auto;
  }
}
